[defaults]
inventory         = ./inventory
host_key_checking = False
remote_user       = n01742406
private_key_file  = /Users/n01742406/.ssh/id_rsa_azure
stdout_callback   = default
result_format     = yaml
retry_files_enabled = False
forks             = 10
timeout           = 30
roles_path        = ./roles
interpreter_python = auto_silent

[ssh_connection]
ssh_args   = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
